@font-face {
  font-family: Phase;
  src: url(fonts/Phase-GGX_10-63-100.woff);
}

@font-face {
  font-family: Edition;
  src: url(fonts/Phase-GGX_0-0-0.woff);
}

body {
	line-height: 1;
	height:100vh;
	display: flex;
  flex-direction: column;
}


.leftside, #rightside {
	height:50vh;
		overflow-y: scroll;
		margin-top:5.5vw;


		  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


}

/* @media (max-width: 500px){

  .leftside{
    width:90vw
  }


} */

/* @media screen and (min-width:400px) { */

	.leftside, #rightside {
	height:100vh;
	width:50vw;
	margin-top:5.5vw;
	margin-bottom: 5.5vh;
	position: fixed;
	overflow-y: scroll;
	
}
/* } */

.leftside {
	background:#e1271e;
/*  background: rgb(225,39,30);
background: linear-gradient(90deg, rgba(225,39,30,1) 97%, rgba(0,0,0,1) 100%);*/
-webkit-box-shadow: -2px 0px 15px 5px #000000; 
box-shadow: -2px 0px 15px 5px #000000;
z-index:100;
	border-right: 3px black solid;
}

#rightside {
background:#33a700;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.leftside::-webkit-scrollbar {
    display: none;
}
#rightside::-webkit-scrollbar {
    display: none;
}

h3 {
  background:black;
  color:#33a700;
  font-size:1.5vw;
  font-family: Edition;
  padding:5px 10px 10px 15px;
  line-height:1.25;
  margin-bottom: 0;
}

#topbar {
	width:100%;
	background: #ffe85c;
 	display:inline-block;
}

.footer {
	position:fixed;
	width:100%;
	background: #2ece8d;
	z-index:102;
	bottom: 0;
	margin:0;
  display: inline-block;
  border-top:3px black solid;
	flex: 0 0 5.5vh;
  height: 5.5vw;
  min-height: 50px;
}

.spacer {
  height: 12vw;
  display:block;
  width:100%;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
	text-decoration: none;
   color: black;
}

/*#add {
	right: 0;
	bottom:0;
	font-size:4.5vw;
	font-family:Phase;
	color:black;
	text-decoration: none;
	margin:0;
	padding-right:15px;
	float:right;
	line-height:1.25;
}*/

#search {
	left: 0;
	bottom:0;
	font-size:4.5vw;
	font-family:Phase;
	color:black;
	margin:0;
	padding-left:15px;
	float:left;
	line-height:1.25;
}

#menu {
	font-size:4.5vw;
	font-family:Phase;
	position: fixed;
	color:black;
	margin:0;
	padding-right:15px;
	right:0;
	line-height:1.25;
	display:inline-block;
}

header {
  background-color: #ffe85c;
  position: fixed;
  top: 0;
  width: 100%;
  height:5.5vw;
  border-bottom: 3px black solid;
  z-index:101;
  min-height: 50px;

}

h1{
	font-size: 4.5vw;
	font-family:Phase;
	margin: 0;
	display:inline-block;
	padding-left:15px;
		padding-bottom:15px;



	}

.button {
  background: black;
  color: #33a700;
  text-align: center;
  border: 2px solid black;
font-size: 1.5vw;
font-family: Edition;
padding: 8px 15px 8px 15px;
    line-height: 1.25;
  cursor: pointer;
}

.button:hover {
  border: 2px solid black;
  background: #e1271e;
  color:black;
}

  /* ===== MENU PANEL ===== */
#trigger {
	font-size:4.5vw;
	font-family:Phase;
	position: fixed;
	color:black;
	margin:0;
	padding-right:15px;
	right:0;
	line-height:1.25;
	display:inline-block;
  cursor: pointer;
  z-index:102;
}

.overlay {
    height: 100%;
    width: 50.5%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -50.5%;
    border-left: 3px solid black;
    background-color: #3985d8;
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
  color: black;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
  font-family:'Phase';
    font-size: 4.5vw;
    color: black;
    display: block;
    transition: 0.3s;
  font-weight:normal;
  text-align:right;
}

.closebtn {
    position: absolute;
    left: 10px;
    margin-left: 10px;
    font-size: 4.5vw !important;
    font-family: 'Phase';
  line-height:1;
}


  /* ===== MENU PANEL ===== */

#trigger2 {
  font-size:4.5vw;
	font-family:Phase;
	position: fixed;
	color:black;
	margin:0;
	padding-right:15px;
	right:0;
	bottom:0;
	line-height:1.25;
	display:inline-block;
  cursor:pointer;
}

.overlay2 {
    height: 100%;
    width: 50.5%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -50.5%;
    background-color: #33a700;
    border-left: 3px black solid;
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content2 {
    position: relative;
    top: 2%;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  color: black;
}

.overlay2 a {
    padding: 5px;
    text-decoration: none;
  font-family:'Phase';
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
  font-weight:normal;
  text-align:left;
}

.closebtn2 {
    position: absolute;
    left: 10px;
    font-size: 4.5vw !important;
    font-family: 'Phase';
  line-height:1;
}

div.elem-group {
  margin: 30px 0;
}

label {
  display: block;
  font-family: 'Edition';
  font-size: 2vw;
}

input, select, textarea {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #33a700;
  font-size: 1.5vw;
  font-family: 'Edition';
  width: 100%;
  padding: 8px;
}

textarea {
  height: 150px;
}

#submit-button {
  background: black;
  color: #33a700;
  text-align: center;
  border: 2px solid black;
  font-size: 3vw;
  padding:10px;
  font-family: 'Phase';
  cursor: pointer;
}

#submit-button:hover {
  border: 2px solid black;
  background: #e1271e;
  color:black;
}


  /* ===== Searchable Database ===== */


#myInput {
  position: absolute;
	border: none;
  width: 50%;
  left: 0;
	bottom:0;
	font-size:4.5vw;
	font-family:Phase;
	color:black !important;
	margin:0;
	padding:0 0 0 15px;
	float:left;
	line-height:1;
	background-color: #2ece8d;
}

#myFrenchInput {
  position: absolute;
	border: none;
  width: 50%;
  left: 0;
	bottom:0;
	font-size:4.5vw;
	font-family:Phase;
	color:black !important;
	margin:0;
	padding:0 0 0 15px;
	float:left;
	line-height:1;
	background-color: #2ece8d;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  padding: 0;
  margin: 0;
  border-bottom:none;
}

#myUL li a {
  border-bottom: 3px solid black;
  background-color: #e1271e;
  padding: 15px;
  text-decoration: none;
  font-size: 2vw;
  font-family: Edition;
  color: black;
  display: block;
  overflow: none;
    white-space:nowrap;  


}

#myUL li a:hover:not(.header) {
 /* background-color: #ffe85c;*/
  background-color: #3985d8;
}

button {
  font-family: inherit; /* 1 */
  font-size: 0; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  width: 100%;
  text-align: left;
  padding:0;
  border:0;
}

.buttons {
	margin:0;
}

img {
	width:100%;
	border-bottom:3px solid black;
}

.topline {

  width:100%;
  border-bottom:3px solid black;
  border-top:3px solid black;
}


#rightside h1 {
	font-size:2.5vw;
	font-family: Edition;
	padding:15px;
	border-bottom:3px solid black;
	width:100%;

}

#rightside p {
	font-size:1.5vw;
	font-family: Edition;
	padding:15px 15px 15px 15px;
	line-height:1.25;
	display: inline-block;
  margin-bottom: 0;


}

#rightside p2 {
  font-size:1vw;
  font-family: Edition;
  padding:15px 15px 15px 15px;
  line-height:1.25;
  display: inline-block;
  margin-bottom: 0;


}

#rightside h2 {
	font-size:1vw;
	font-family: Edition;
	padding:5px;
	margin:15px 0 0px 15px;
	line-height:1.25;
	border:1px solid black;
	border-radius:15px;
	display: inline-block;
}

hr{
	border-top:3px solid black;
  margin-top: 0rem; 
  margin-bottom: 0rem;
}


.leftside h1 {
  font-size:2.5vw;
  font-family: Edition;
  padding:15px;
  border-bottom:3px solid black;
  width:100%;

}

.leftside p {
  font-size:1.5vw;
  font-family: Edition;
  padding:8px 15px 8px 15px;
  line-height:1.25;
  display: inline-block;

}

.leftside h2 {
  font-size:1vw;
  font-family: Edition;
  padding:5px;
  margin:15px 0 0px 15px;
  line-height:1.25;
  border:1px solid black;
  border-radius:15px;
  display: inline-block;
}


/*/Animation/*/
/* $size: 100px; */

body {
  margin: 0;
}

/* img, div {
  width: $size;
  height: $size;
} */

.x {
  animation: x 13s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

/* @keyframes x {
  100% {
    transform: translateX( calc(100vw - #{$size}) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - #{$size}) );
  }
} */

#home {
  height:100vh;


}

.marquee p {
  font-size:4.5vw;
  font-family:Phase;
  position: absolute;
  text-align: center;
  width:100%;
  color:black;
  margin:0;
  padding-right:15px;
  margin-bottom:10px;
  right:0;
  line-height:1.25;
  cursor: pointer;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -moz-animation: scroll-left 10s linear infinite;
            -webkit-animation: scroll-left 10s linear infinite;
            animation: scroll-left 15s linear infinite;
        }
        
        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }

.marquee {
  position:fixed;
  width:100%;
  /*background: #ffe85c;*/
  background:#2ece8d;
  z-index:100;
  height:5.5vw;
  bottom: 0;
  margin:0;
   display: inline-block;
   border-top:3px black solid;
  flex: 0 0 5.5vh;

}

h1.secondary{
  font-size:2.5vw;
  font-family: Edition;
  padding:15px;
  border-bottom:3px solid black;
  border-top:3px solid black;
  width:100%;
}


.navHeaderOptions{
  display: flex;
  padding-right: 25px;
  margin-left: 10px;
}

.navHeaderOptions h2{
  font-size: 4.5vw;
  margin-bottom: 0;
}

.closeNav{
  cursor: pointer;
}

#englishSelected{
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
}
#frenchSelected{
  cursor: pointer;
}

#englishSelected.active{
  text-decoration: underline;
}

#frenchSelected.active{
  text-decoration: underline;
}

.hide{
  display: none !important;
}

#closeRightSide{
  display: none !important;
}

#writing-x{
  display: none;
  width: 50px;
  background-color: green;
  position: absolute;
  right: 0;
  text-align: center;
  border-width: 5px;
  border-bottom-style: solid;
  border-left-style: solid;
}

.mobile-menu{
  display: none !important;
}

.desktop-menu{
  display: inline-block !important;
}

.english.hide{
  display: none;
}

header h1{
  padding-left: 10px;
}

@media(max-width:574px) {


  

  #rightside p {
    margin-bottom: 20px;
  
  
  }

  #team-leftSide a{
    font-size: 15PX;
  }

  /* .team-rightSide{
    display: none;
  } */

  .english{
    margin-top: 1px !important;
  }



  body > div > p.english{
    bottom: 8%;
    font-size: 20px;
  }

  .french{
    margin-top: 1px !important;
  }


  .mobile-menu{
    display: block !important;
  }

  .desktop-menu{
    display: none !important;
  }

  #team-leftSide{
    width: 100%;
  }

  #team-leftSide p{
    font-size: 15px;
  }

  #team-leftSide h1{
    font-size: 20px;
  }

  .overlay-content2 label{
    font-size: 20px;
  }

  #category-selection{
    font-size: 15px;
  }

  .french button{
    width: 100%;
  }

  .english button{
    width: 100%;
  }


  #about-leftSide{
    width: 100vw;
    position: static;
    overflow-y: auto;
    margin-bottom: 0 !important;



    
  }

  .about-rightSide{
    width: 100vw !important;
    margin-top: 0 !important;
    position:static !important;
    overflow-y: auto;
  }
  #about-leftSide h1{
    font-size: 20px;
    font-weight: 800;
  }
  #about-leftSide p{
    font-size: 15px;
  }

  .about-rightSide h1{
    font-size: 20px;
    font-weight: 800;
  }
  .about-rightSide p{
    font-size: 15px;
  }

  .marquee{
    min-height: 50px;
  }


  #writing-x{
    display: block;
    width: 50px;
    background-color: green;
    position: absolute;
    right: 0;
    text-align: center;
    border-width: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
  }
  #writing-x h4{
    font-size: 35px;
  }

  #englishSelected{
    font-size: 30px;
  }
  
  .navHeaderOptions h2{
    font-size: 30px;
  }

  #frenchSelected{
    font-size: 30px;
  }

  .french.overlay-content a {
    font-size: 32px;
  }

  .english.overlay-content a {
    font-size: 32px;
  }
  

/* .overlay {
  right: 100%;
} */

  button{
    width: 180%;
  }
  

 header h1{
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
 }

 header #trigger{
  position: absolute;
  top: 45%;
  transform: translateY(-25%);
 }

 #leftSidePanel{
  margin-top: 50px;
 }
 #rightside{
  margin-top: 50px;
 }
 

  .leftside{
    width:92vw;
    height:100vh;
    margin-top: 42px;
    margin-bottom: 5.5vh;
  }

  #rightside.expanded{
    border-left-width: 3px;
    border-left-style: solid;
    animation: slide-to-the-right ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  }

  #rightside.reverse{

    border-left-width: 3px;
    border-left-style: solid;
    animation: slide-to-the-left ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  }

  .leftside.reduced{
    color:#e1271e
  }

  .leftside.reduced #button1 > a {
    color: #e1271e
  }

  .rightSideHeader{
    display: flex;
    border-bottom: 3px solid black;
  }

  .rightSideHeader h1{
    border-bottom-style: none !important
  }

  .rightSideHeader #closeRightSide{
    font-size: 25px !important;
    margin: 0;
    padding: 15px 20px 0 0;
    display: block !important;
  }

  
  /* #myInput {
    border: none;
    width: 50%;
    left: 0;
    bottom:0;
    font-size:4.5vw;
    font-family:Phase;
    color:black !important;
    margin:0;
    padding:0 0 0 15px;
    float:left;
    line-height:1;
    background-color: #2ece8d;
  } */
  


  #myInput{
    /* padding-bottom: 8px; */
    font-size: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }
  
  #myFrenchInput{
    font-size: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }

  #trigger2{
    bottom: 25%;
    position: absolute;
    
  }
  
  .english.hide{
    display: none;
  }

  #english-header.hide{
    display: none;
  }

  #myUL li a {
    font-size: 20px !important;
  }

  #rightside h1{
    font-size: 20px !important;
    font-weight: 800;
  }

  #rightside h3{
    font-size: 18px !important;
  }

  #rightside p{
    font-size: 18px !important;
  }
  /* #rightside.expanded{
    width: 90vw
  } */
  


}

/* @media (min-width:200px){
  .col-md-6 {
    flex: 0 0 50% !important;
  }
} */

/* height:100vh;
width:50vw;
margin-top:5.5vw;
margin-bottom: 5.5vh;
position: fixed;
overflow-y: scroll; */

@keyframes slide-to-the-right {
  0% {
      left: 92%;
  }
  100% {
      left: 7%;
   }
}

@keyframes slide-to-the-left {
  0% {
      left: 7%;
  }
  100% {
      left: 92%;
   }
}

